
body{
    background-image:url('../image/im.jpg');
	height:100%;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
} 
 .topnav{
	   background-color:white;
	   overflow:hidden;
   }
.topnav a{
	   float:left;
	   display:block;
	   color:black;
	   text-align:center;
	   padding:16px;
	   text-decoration:none;
	   font-size:20px;
   }
.topnav a:hover{
	color:blue;
}   
   
.topnavr {
	float: right;
    text-align: right;
}
.form {
   
   height: 450px;
   margin: auto;
   position: relative;
 }
 .in{
   width: 400px;
   height:75px;
   font-size:20px;
 }
 .in_button{
   width: 200px;
   height: 75px;
   background-color:red;
   margin:none;
 }
 .in_radio{
   width: 200px;
   height:50px;
   font-size:80px;
   
 }
